.test{
  font-size: 2em;
  color: #4cd5ff;
}
.backgroundcolor{
  background-color: #91a2c1;
}

.navbarFontSize{
  font-size: 1.4em;
}

.paddingRight{
  padding-right: 2em;
}

.jumbotronBackgroundColor{
  background-color: #5cb5d1;
}
