.test{
  font-size: 2em;
  color: #258d91;
}
.backgroundcolor{
  background-color: #979899;
}

.navbarFontSize{
  font-size: 1.4em;
}

.paddingRight{
  padding-right: 2em;
}

.paddingRightLogout{
  padding-right: 17em;
}

.jumbotron1{
  background-image: url("../img/bamboo.jpg");
  background-size: cover;
}


.buttony{
  color: white;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.navbar-transparent{
   background: rgba(0,0,0,0.4);
}

.test2{
  font-size: 0.9em;
  color: #258d91;
}

.jumbo-transparent{
  background: rgba(0,0,0,0.4);
}

.redText{
  color: red;
}

.greenText{
  color: #228B22;
}

.backgroundImage{
  background-image: url("../img/pageBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 5000px;
}

.pagination{
  font-size: 2px;
  color: #258d91;
}
