.test{
  font-size: 2em;
  color: #258d91;
}
.backgroundcolor{
  background-color: #91a2c1;
}

.navbarFontSize{
  font-size: 1.4em;
}

.paddingRight{
  padding-right: 2em;
}

.jumbotron1{
  background-image: url("../img/bamboo.jpg");
  background-size: cover;
}

.buttony{
  color: white;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.test2{
  font-size: 0.9em;
  color: #258d91;
}

li span{
  color: #ef0e19;
}
