<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DentPage</title>
    <link rel="stylesheet" type = "text/css" href="../../carousel.css" >
    <link rel="stylesheet" type = "text/css" href = "../../css/bootstrap.css">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href = "../../css/css.css">
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light  backgroundcolor">
      <img src="../../img/tooth.png" width="45" height="45" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="mainpageview.html"><span class = "test">RemediumDente</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbarFontSize">
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">Zaloguj się</a>
          </li>
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">Zarejestruj się</a>
          </li>
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main role ="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="../../img/tooth.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="../../img/tooth.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../../img/tooth.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotronBackgroundColor">
      <div class="container">
        <h1 class="display-4"><b>Klinika RemediumDente</b></h1>
        <p class="lead">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam sed tellus sed eros lobortis sollicitudin ac vel sapien.
Fusce efficitur nunc lectus, sit amet fermentum enim efficitur a.
Praesent eget tellus arcu. Sed ut nibh enim. Nam lobortis volutpat augue non pulvinar.
Aenean lacinia nisi in aliquet placerat. Sed volutpat non elit non egestas. Curabitur elementum
sollicitudin risus in vestibulum. Nam tempor risus mi, quis consequat felis interdum sed.
Fusce lobortis ultricies lorem a auctor. Sed euismod elementum ipsum, vel posuere sapien sagittis a.
Cras imperdiet mattis dolor nec condimentum.

Nunc faucibus porttitor ipsum, quis dapibus augue molestie et.
Quisque at tortor pellentesque, dapibus erat id, suscipit felis.
Proin id porta mauris. Curabitur ac placerat lacus, non euismod tellus.
In nec lorem ac arcu consequat malesuada eget sit amet augue. Praesent sed euismod nisl.
Aenean pharetra dapibus nibh. Duis sit amet consectetur lorem. Integer rhoncus quam erat, id iaculis metus.</p>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="col">
          1 of 3
        </div>
      <div class="col">
          2 of 3
      </div>
      <div class="col">
          3 of 3
      </div>
    </div>
  </div>

<footer class="container">
  <p class="float-right"><a href="#">Wróć na górę</a></p>
  <p>&copy; <b>2019 Bartosz Glanowski</b></p>
</footer>
</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
