<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DentPage</title>
    <link rel="stylesheet" type = "text/css" href = "../../css/bootstrap.css">
    <link rel="stylesheet" type = "text/css" href = "../../css/css.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light  backgroundcolor">
      <img src="../../img/tooth.png" width="45" height="45" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="#"><span class = "test">RemediumDente</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbarFontSize">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
