<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DentPage</title>
    <link rel="stylesheet" type = "text/css" href = "../../css/bootstrap.css">
    <link rel="stylesheet" type = "text/css" href = "../../css/css.css">
  <body>
    <nav class="navbar navbar-expand-lg navbar-light  backgroundcolor">
      <img src="../../img/tooth.png" width="45" height="45" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="mainpageview.html"><span class = "test">RemediumDente</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbarFontSize">
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">Zaloguj się</a>
          </li>
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">Zarejestruj się</a>
          </li>
          <li class="nav-item paddingRight">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid jumbotronBackgroundColor">
      <div class="container">
        <h1 class="display-4"><b>Klinika RemediumDente</b></h1>
        <p class="lead">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Aliquam sed tellus sed eros lobortis sollicitudin ac vel sapien.
Fusce efficitur nunc lectus, sit amet fermentum enim efficitur a.
Praesent eget tellus arcu. Sed ut nibh enim. Nam lobortis volutpat augue non pulvinar.
Aenean lacinia nisi in aliquet placerat. Sed volutpat non elit non egestas. Curabitur elementum
sollicitudin risus in vestibulum. Nam tempor risus mi, quis consequat felis interdum sed.
Fusce lobortis ultricies lorem a auctor. Sed euismod elementum ipsum, vel posuere sapien sagittis a.
Cras imperdiet mattis dolor nec condimentum.

Nunc faucibus porttitor ipsum, quis dapibus augue molestie et.
Quisque at tortor pellentesque, dapibus erat id, suscipit felis.
Proin id porta mauris. Curabitur ac placerat lacus, non euismod tellus.
In nec lorem ac arcu consequat malesuada eget sit amet augue. Praesent sed euismod nisl.
Aenean pharetra dapibus nibh. Duis sit amet consectetur lorem. Integer rhoncus quam erat, id iaculis metus.</p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
